body { background: #EBEBEB; font-size: 16px; }
body .lich-box .col-xs-12 { padding: 0px; }
body .cont-all .fa { color: #BDBDBD; }
body .img-content img { max-width: 180px; }
body .lich-thi-dau { background: #EBEBEB; margin-bottom: 40px; }
body .hotline-info { float: right; }
body .nav-tabs > li { padding: 0 60px; }
body .img-content { max-width: 250px; }
body .all-ct-button { font-weight: bold; margin-top: 10px; text-align: center; border-left: 2px solid #ccc; width: 100% !important; }
body .all-ct-button .button-chi-tiet { margin-bottom: 5%; }
body .all-ct-button .button-chi-tiet .button-price-ct-1 { color: orange; }
body .all-ct-button .button-chi-tiet .button-text { width: 100%; }
body .all-ct-button .button-chi-tiet .button-text button { border-radius: 20px; border: none; background: #F26F21; color: white; padding: 4% 10%; }
body .chi-tiet { padding-top: 10%; font-size: 16px; }
body .chi-tiet .fa { padding-right: 2%; }
body .title-info { padding-left: 1%; }
body .tournaments-button { text-align: center; }
body .button-price1 { max-width: 150px; }
body .button-price2 { max-width: 150px; }
body img { width: 100%; }
body :focus { outline: 0; }
body .button-all, body .button-price1, body .button-price2 { height: 50px; border-radius: 30px; border: none; color: white; text-transform: uppercase; font-weight: bold; width: 100%; }
body .tournaments-price1 { color: #F26F21; font-weight: bold; }
body .tournaments-price2 { color: #0CACA7; font-weight: bold; }
body .button-price1 { background: #F26F21; }
body .button-price2 { background: #0CACA7; }
body .leader-all-1 { width: 100%; display: flex; margin-bottom: 3%; }
body .leader-all-1 .leader-img { width: 60px; height: 60px; margin-right: 5%; }
body .leader-all-1 .leader-img img { width: 100%; }

.header { background: white; }
.header #open-menu, .header #open-search-form { position: absolute; top: 55px; font-size: 20px; display: none; z-index: 99; }
.header #open-menu { left: 15px; }
.header #open-search-form { right: 15px; }
.header .header-top { background-color: #08ccba; }
.header .header-top .header-text-top { padding: 1rem 0; background-color: #fff; text-transform: uppercase; }
.header .header-top .header-langauge { float: right; padding: .8rem 0; }
.header .header-top .header-langauge img { width: 25px; height: 25px; border: 1px solid #fff; border-radius: 10px; }
.header .header-center #search-form-mobile { width: 100%; display: none; }
.header .header-center #search-form-mobile input { width: 100%; }
.header .header-center #search-form-mobile button { position: absolute; right: 25px; top: 3px; }
.header .header-center .main-nav { padding-top: 25px; }
.header .header-center .main-nav #remove-menu { padding: 10px; z-index: 10; cursor: pointer; display: none; text-align: right; display: none; color: #fff; z-index: 999; }
.header .header-center .main-nav ul { font-size: 0; }
.header .header-center .main-nav ul li { display: inline-block; position: relative; }
.header .header-center .main-nav ul li:not(:last-child) { margin-right: 3rem; }
.header .header-center .main-nav ul li a { font-size: 14px; text-transform: uppercase; }
.header .header-center .main-nav ul li > i { position: absolute; right: -1.3rem; font-size: 14px; top: 3px; }
.header .header-center .main-nav ul li:hover ul { display: block; }
.header .header-center .main-nav ul li ul { display: none; position: absolute; top: 20px; width: 200px; text-align: left; padding-top: 2px; z-index: 1; }
.header .header-center .main-nav ul li ul li { width: 100%; position: relative; }
.header .header-center .main-nav ul li ul li a { background-color: #e1dddd; display: block; padding: 9px 0 9px 21px; color: #000; font-size: 15px; }
.header .header-center .main-nav ul #search-form-btn { font-size: 17px; line-height: 1; }
.header .header-center .main-nav ul .search-form-header { position: absolute; width: 350px; right: 0; top: calc(100% + 5px); display: none; }
.header .header-center .main-nav ul .search-form-header input { width: 100%; height: 30px; padding-right: 30px; }
.header .header-center .main-nav ul .search-form-header button { font-size: 20px; position: absolute; right: 5px; }
.header .top-header { width: 100%; background: #0CACA7; height: 30px; }
.header .header-menu { width: 100%; height: 64px; background: white; }
.header .header-menu img { width: 100%; }
.header .header-banner { width: 100%; }
.header .header-infor { width: 100%; background: #004251; padding: 10px; }
.header .header-infor p { color: white; }
.header .header-infor .form-dki .form-control { margin-top: 15px; }
.header .header-infor .form-dki button { background: #F26F21; width: 100px; border: none; padding: 5px; margin-top: 16px; border-radius: 5px; border-radius: 5px; color: white; }
.header .header-infor .form-dki input { color: black; }

.all-box { max-width: 1200px; margin: 0px auto; }
.all-box .content { width: 100%; background: white; padding: 30px 0px; border-radius: 10px; margin-top: 20px; }
.all-box .content .vga { width: 92%; border-radius: 10px; border: 1px solid #ccc; margin: 0px auto; padding: 30px; }
.all-box .content .vga .img-vga { width: 210px; height: 132px; }
.all-box .content .vga .vga-desc { width: 100%; }
.all-box .content .vga .vga-desc .desc-title { font-size: 20px; font-weight: bold; }
.all-box .content .vga .vga-desc .leader-vga a { font-size: 14px; }
.all-box .content .vga .vga-desc .leader-vga a:hover { color: orange; }
.all-box .content .vgs-group { width: 92%; border-radius: 10px; border: 1px solid #ccc; margin: 0px auto; margin-top: 50px; }
.all-box .content .vgs-group .desc-title { font-size: 20px; font-weight: bold; }
.all-box .content .vgs-group .clear { width: 95%; height: 1px; border-bottom: 1px dotted #ccc; clear: both; margin: 0px auto; margin-bottom: 30px; padding-top: 20px; }
.all-box .content .vgs-group .vgs-group-main { width: 100%; margin: 0px auto; padding: 30px; }
.all-box .content .vgs-group .vgs-group-main .img-vgs { width: 210px; height: 132px; margin-left: 20px; }
.all-box .content .vgs-group .vgs-holding, .all-box .content .vgs-group .vgs-media, .all-box .content .vgs-group .vgs-academy, .all-box .content .vgs-group .vgs-event { max-width: 480px; margin-bottom: 30px; line-height: 22px; }
.all-box .content .vgs-group .vgs-holding .vgs-holding-img, .all-box .content .vgs-group .vgs-media .vgs-holding-img, .all-box .content .vgs-group .vgs-academy .vgs-holding-img, .all-box .content .vgs-group .vgs-event .vgs-holding-img { max-width: 318px; height: 74px; }
.all-box .content .vgs-group .vgs-holding .vgs-holding-img img, .all-box .content .vgs-group .vgs-media .vgs-holding-img img, .all-box .content .vgs-group .vgs-academy .vgs-holding-img img, .all-box .content .vgs-group .vgs-event .vgs-holding-img img { width: 100%; }
.all-box .content .vgs-group .vgs-holding .vgsholding-content, .all-box .content .vgs-group .vgs-media .vgsholding-content, .all-box .content .vgs-group .vgs-academy .vgsholding-content, .all-box .content .vgs-group .vgs-event .vgsholding-content { padding-left: 5px; }
.all-box .content .vgs-group .vgs-holding .vgsholding-content p, .all-box .content .vgs-group .vgs-media .vgsholding-content p, .all-box .content .vgs-group .vgs-academy .vgsholding-content p, .all-box .content .vgs-group .vgs-event .vgsholding-content p { font-size: 14px; }
.all-box .content .vgs-group .vgs-holding .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-media .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-academy .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-event .vgsholding-content .vgs-holding-title { width: 83%; font-weight: bold; text-transform: uppercase; padding-top: 7px; font-size: 16px; }
.all-box .content .title-donors { padding: 0px 10px; padding-bottom: 40px; }
.all-box .content .desc-donors { max-width: 350px; border-radius: 10px; border: 1px solid #ccc; margin: 0px auto; height: 370px; font-size: 14px; margin-bottom: 40px; }
.all-box .content .desc-donors .desc-donors-img { text-align: center; padding-top: 15px; }
.all-box .content .desc-donors .desc-donors-text { padding: 10px 20px; }
.all-box .content .support { border: 1px dashed #0C9691; text-align: center; font-size: 18px; width: 100%; padding: 10px; clear: both; height: 100px; }
.all-box .tournaments .tournaments-img { width: 100%; }
.all-box .tournaments .tournaments-title { font-size: 24px; text-transform: uppercase; font-weight: bold; }
.all-box .tournaments .tournaments-desc { line-height: 29px; }
.all-box .tournaments .tournaments-desc .fa { font-size: 18px; color: #ccc; }
.all-box .tournaments .tournaments-desc .tournaments-button { margin-top: 50px; text-align: center; }
.all-box .tournaments .tournaments-system { box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35); border-radius: 10px; padding: 10px; margin-bottom: 40px; height: 380px; width: 100%; }
.all-box .tournaments .tournaments-system button { height: 39px; }
.all-box .tournaments .tournaments-system .tournaments-price1 { text-align: center; padding-top: 18px; }
.all-box .tournaments .tournaments-system .tournaments-price2 { text-align: center; padding-top: 18px; }
.all-box .tournaments .tournaments-system .tournaments-system-title { width: 100%; display: flex; border-bottom: 1px dashed #878787; padding: 10px 0px; }
.all-box .tournaments .tournaments-system .name { text-transform: uppercase; font-weight: bold; width: 65%; font-size: 20px; }
.all-box .tournaments .tournaments-system .logo { width: 30%; margin: 0px auto; }
.all-box .tournaments .tournaments-system .tournaments-system-content { padding: 0px 5px; border-bottom: 1px dashed #878787; padding-top: 13px; }
.all-box .form-dki input { margin-bottom: 50px; }
.all-box .title-intro { width: 100%; text-align: center; }
.all-box .title-intro p { font-size: 28px; font-weight: bold; text-transform: uppercase; }
.all-box .am { text-align: center; margin: 0px auto; border-top: 1px dashed #8C8C8C; border-bottom: 1px dashed #8C8C8C; min-height: 50px; padding-top: 13px; width: 95%; display: flex; }
.all-box .am .time-day { width: 80%; margin: 0px auto; }
.all-box .button-intro { width: 30%; margin: 0px auto; text-align: center; margin-top: 2%; clear: both; }
.all-box .intro-desc-all { width: 95%; margin: 0px auto; margin-top: 30px; border: 1px solid #ccc; }
.all-box .intro-desc-all .intro-desc-title { padding: 10px; background: #004251; color: white; text-align: center; text-transform: uppercase; font-weight: bold; }
.all-box .intro-desc-all .intro-desc { padding: 10px 20px; text-align: justify; }
.all-box .intro-desc-all .table-user th { padding: 10px 20px; }
.all-box .law { line-height: 15px; margin-top: 50px; width: 100%; }
.all-box .law p { line-height: 26px; }
.all-box .law button { margin: 0px auto; }
.all-box .bt { text-align: center; margin: 40px 0px; }
.all-box .container { background: #fff; }
.all-box .time { padding-top: 25px; }
.all-box .title { font-size: 30px; font-weight: bold; }
.all-box .title-box { font-size: 17px; background: #EBEBEB; padding: 10px 10px 10px 15px; }
.all-box .banner { width: 100%; padding: 40px 0px 44px 0px; }
.all-box .title-post { font-size: 17px; }
.all-box .text { text-align: justify; }
.all-box .share button { background: #1E6ECD; color: #fff; width: 80px; height: 24px; }
.all-box .nav-post { margin: 30px 0px 30px 0px; text-decoration: none; list-style: none; }
.all-box .list-post { width: 100%; font-size: 30px; border-bottom: 0.05em solid #959595; margin-bottom: 30px; }
.all-box .post-time { color: #9D9D9D; padding-top: 6px; font-style: italic; }
.all-box .post-content { font-size: 15px; }
.all-box .slide { display: flex; width: 100%; margin-bottom: 4%; }
.all-box .slide .banner-left { max-width: 761px; }
.all-box .slide .banner-right { max-width: 376px; margin-left: 5px; }
.all-box .slide .banner-right a { text-decoration: none; color: white; }
.all-box .slide .banner-right a:hover { color: orange; }
.all-box .slide .banner-right .banner-right1 { width: 100%; position: relative; }
.all-box .slide .banner-right .banner-right1 .banner-right-title1 { position: absolute; color: white; bottom: 0; padding-left: 3%; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
.all-box .slide .banner-right .stm { margin-top: 5px; }
.all-box .all-video { max-width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; }
.all-box .all-video .video-main { width: 324px; margin-top: 50px; }

.post-main { max-width: 350px; margin: 20px 0px; }
.post-main img { margin-bottom: 10px; }

.qc { width: 100%; height: 135px; background: #004251; margin-top: 10px; }

.btn-all { width: 122px; height: 40px; font-size: 18px; border-radius: 50px; background: none; border: 1px solid orange; color: orange; margin-bottom: 50px; transition: 0.3s; }
.btn-all:hover { background: orange; color: white; transition: 0.3s; }

.all-video-home { color: white; width: 100%; background: #2F2F2F; }

footer { background: linear-gradient(0deg, #0C9691, #0C9691); width: 100%; margin-top: 100px; font-size: 14px; padding: 30px 0px; color: white; }
footer .logo-footer { width: 173px; height: 105px; }
footer .icon { margin-left: 120px; float: right; padding-top: 37px; flex-wrap: wrap; display: inline-flex; }
footer .icon .icon-footer { width: 45px; height: 45px; border-radius: 30px; border: 2px solid white; margin-left: 10px; text-align: center; padding-top: 7px; }
footer .Copyright { font-size: 16px; text-align: right; }

@media only screen and (max-width: 1205px) { footer .logo-footer { margin: 0px auto; }
  footer h5 { text-align: center; }
  footer p { text-align: center; }
  footer .Copyright { margin: 0px auto; text-align: center; }
  footer .ft { text-align: center; }
  footer .ft .icon { float: none; margin: 0px auto; flex-wrap: wrap; }
  footer .ft .icon .icon-footer { text-align: center; } }
@media only screen and (max-width: 1199px) and (min-width: 992px) { .header .header-infor .form-dki button { margin-left: 35%; } }
@media only screen and (max-width: 1024px) { .title-info { text-align: center; }
  body .nav-tabs > li { padding: 0 46px; }
  .tournaments-system { margin: 0px auto; }
  .all-box .tournaments .tournaments-desc .tournaments-button { margin-top: 10px; }
  .all-box .tournaments .tournaments-system { height: 370px; }
  .vgs-desc { padding-left: 15%; } }
@media only screen and (max-width: 991px) { body .nav-tabs > li { padding: 0 27px; }
  .cont-all { display: flex; }
  body .tab-content .all-ct-button { border: none; display: flex; margin-left: 25%; }
  body .tab-content .all-ct-button .button-chi-tiet { margin-left: 3%; }
  .all-ct-button { border: none; }
  .header-infor .truy-van { text-align: center; }
  .header-infor .form-dki { text-align: center; }
  .header-infor .hotline-info { text-align: center; margin-top: 3%; float: none; }
  .img-vga { margin: 0px auto; }
  .desc-title { text-align: center; }
  .desc-info { text-align: justify; }
  .all-box .tournaments .tournaments-button { text-align: center; }
  .all-box .tournaments .tournaments-button button { max-width: 150px; text-align: center; }
  .all-box .am { border: none; text-align: center; } }
@media only screen and (max-width: 768px) { .title-info { text-align: center; }
  .all-box .content .vgs-group .vgs-holding .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-media .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-academy .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-event .vgsholding-content .vgs-holding-title { width: 100%; }
  .img-vga { margin: 0px auto; }
  .vga-desc { text-align: justify; }
  .desc-title { text-align: center; }
  .all-box .content .vgs-group .vgs-holding, .all-box .content .vgs-group .vgs-media, .all-box .content .vgs-group .vgs-academy, .all-box .content .vgs-group .vgs-event { margin: 0px auto; text-align: justify; }
  .vgs-holding-img { margin: 0px auto; }
  .clear { display: none; }
  .strike { border-top: 1px dashed #949494; margin: 10px 0px; padding-top: 10px; }
  .all-box .content .title-donors .info-taitro { text-align: center; }
  .all-box .content .title-donors p { text-align: justify; }
  .all-box .content .desc-donors { max-width: 560px; }
  .support { display: none; } }
@media only screen and (max-width: 767px) { .bt1 { margin: 0px auto; }
  .bt2 { margin: 0px auto; }
  .big { text-align: center !important; }
  .style-top { border-top: 1px dashed #878787; }
  .cont-all .cont-1 { margin: 0px auto; }
  .cont-all .cont-2 { margin: 0px auto; }
  .all-ct-button { display: flex; border: none !important; border: none !important; width: 50%; margin: 0px auto; }
  .all-ct-button .button-text { margin-right: 60px; }
  .img-content { margin: 0px auto; }
  body .tab-content .all-ct-button { border: none; display: flex; margin-left: 0; }
  body .tab-content .all-ct-button .button-chi-tiet { margin-left: 3%; }
  .tab-content .img-content { padding: 0; }
  .ap { padding-right: 2%; }
  .all-box .content .vgs-group .vgs-group-main .img-vgs { margin: 0px auto; }
  .vgs-desc { text-align: center; padding: 0; }
  .button-price1 { width: 150px; }
  .tournaments-title { margin: 10px 0px; }
  .all-box .tournaments .tournaments-desc { margin: 20px 0px; }
  .all-box .tournaments .tournaments-desc .toumaf { border-bottom: 1px dashed #878787; }
  .all-box .tournaments .tournaments-desc .mb { display: flex; }
  .all-box .tournaments .tournaments-desc .mb .tournaments-desc { border-bottom: 1px dashed #878787; }
  .all-box .tournaments .tournaments-desc .mb .main-1 { margin-right: 10px; }
  .all-box .tournaments .tournaments-system .tournaments-price1 { display: none; }
  .all-box .tournaments .tournaments-system .tournaments-price2 { display: none; }
  .all-box .tournaments .tournaments-system .button-price1 { margin-top: 10%; float: right; }
  .all-box .tournaments .tournaments-system .button-price2 { margin-top: 10%; float: left; }
  .all-box .tournaments .tournaments-system { height: 280px; }
  .all-box .tournaments .tournaments-system .tournaments-system-title { border: none; }
  .all-box .tournaments .tournaments-system .logo { width: 33%; }
  .all-box .tournaments .tournaments-system .logo img { width: 73px; height: 67px; margin: 0px auto; }
  .all-box .tournaments .tournaments-system .name { width: 80%; font-size: 24px; }
  .all-box .tournaments .tournaments-system .tournaments-system-content { padding-left: 5%; display: flex; border: none; border-bottom: 1px dashed #878787; } }
@media only screen and (max-width: 757px) { body .nav-tabs > li { padding: 0 26px; } }
@media only screen and (max-width: 745px) { body .nav-tabs > li { padding: 0 3.5%; } }
@media only screen and (max-width: 713px) { body .nav-tabs > li { padding: 0 3.3%; } }
@media only screen and (max-width: 699px) { .img-vgs { margin: 0px auto; } }
@media only screen and (max-width: 686px) { body .nav-tabs > li { padding: 0 3.1%; } }
@media only screen and (max-width: 640px) { .all-ct-button { display: flex; border: none !important; }
  .all-ct-button .button-text { margin-right: 30px; }
  .div { display: flex; padding-left: 9%; }
  .img-content { max-width: 200px; }
  .title-menu-tab { padding-top: 5%; }
  .all-box .title-intro p { padding-top: 2%; }
  .header-infor .truy-van { text-align: center; }
  .header-infor .form-dki { text-align: center; }
  .header-infor .hotline-info { text-align: center; margin-top: 3%; float: none; }
  .tournaments-system-content { width: 100%; }
  .button-intro { border-bottom: 1px dashed #878787; border-top: 1px dashed #878787; margin-top: 92px; padding: 3% 0; }
  .img-vgs { margin: 0px auto; }
  .all-box .tournaments .tournaments-system .tournaments-price1 { display: none; }
  .all-box .tournaments .tournaments-system .tournaments-price2 { display: none; }
  .all-box .tournaments .tournaments-system .button-price1 { margin-top: 13%; float: right; }
  .all-box .tournaments .tournaments-system .button-price2 { margin-top: 13%; float: left; }
  .tournaments-title { text-align: center; }
  .all-box .slide .banner-right { display: none; }
  .all-box .title-intro { display: flex; text-align: left; }
  .all-box .title-intro img { margin-left: 2%; }
  .all-box .title-intro p { margin-left: 5%; }
  .all-box .am .time-day { margin: 1px; }
  .all-box .am { text-align: left; width: 71%; float: left; margin-left: 4%; } }
@media only screen and (max-width: 662px) { body .nav-tabs > li { padding: 0 3%; } }
@media only screen and (max-width: 650px) { body .nav-tabs > li { padding: 0 2.9%; } }
@media only screen and (max-width: 639px) { body .nav-tabs > li { padding: 0 2.7%; } }
@media only screen and (max-width: 499px) { .all-box .tournaments .tournaments-system { height: 260px; }
  .all-box .am .time-day { width: 100%; } }
.img-vgs { margin: 0px auto; }

@media only screen and (max-width: 480px) { .big { padding-left: 0; }
  .cont-all { padding-left: 0; }
  .all-ct-button { width: 100%; } }
@media only screen and (max-width: 452px) { .all-box .tournaments .tournaments-system { height: 280px; }
  .all-box .am { width: 80%; } }
@media only screen and (max-width: 450px) { .all-box .tournaments .tournaments-system { height: 320px; }
  .tournaments-price1 { padding-right: 1%; }
  .header-infor .form-dki { text-align: center; }
  .header-infor .form-dki input { margin-bottom: 5%; }
  .header-infor .form-dki button { margin: 11%; margin-bottom: 1%; } }
@media screen and (max-width: 400px) { .all-ct-button { padding: 0 !important; width: 100%; }
  .all-ct-button .button-chi-tiet { margin: 0px auto; } }
@media only screen and (max-width: 375px) { .all-ct-button { width: 100%; }
  .all-ct-button .button-chi-tiet { margin: 0px auto; } }
@media only screen and (max-width: 360px) { body .nav-tabs > li { padding: 0; }
  .all-box .am { width: 90%; }
  .all-ct-button { width: 84%; }
  .big { padding: 0; }
  .cont-all { padding: 0; } }
@media only screen and (max-width: 340px) { body .nav-tabs > li { padding: 0; }
  .header-infor .form-dki { text-align: center; }
  .header-infor .form-dki input { margin-bottom: 5%; }
  .all-box .tournaments .tournaments-system { height: 300px; }
  .all-box .tournaments .tournaments-system .tournaments-system-content { padding-left: 0; }
  .all-box .tournaments .tournaments-system .tournaments-system-content .main-1 { margin-right: 0; }
  .img-vgs { margin: 0px auto; }
  .tournaments-system-content { width: 100%; }
  .all-box .am { width: 95%; } }
@media only screen and (max-width: 320px) { .all-ct-button { width: 100%; margin-left: 0 !important; } }

/*# sourceMappingURL=styles.css.map */
